.overlay-bg {
  background-image: url("./../public/bg-mask.png");
  background-position: right 8rem;
  background-size: 50rem;
  background-repeat: no-repeat;
}

.btn {
  background-color: #0b39dd;
}
