<div class="min-h-screen flex items-center justify-center bg-gray-100 text-gray-800">
    <div class="max-w-lg px-4 py-8  text-center">
        <h1 class="text-8xl font-bold">404</h1>
        <p class="mt-4 text-lg">Oops! Looks like you stumbled upon a page that doesn't exist.</p>
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="inline-block mt-3 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">Go Back
            Form</a>
    </div>
</div>